In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import joblib
df=pd.read_csv('../data/raw.csv')

In [15]:
le=LabelEncoder()
df['Result_Encoded']=le.fit_transform(df['Result'])

In [16]:
df.drop(columns='Result',inplace=True,axis=1)

In [23]:
df.head(1)

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result_Encoded
0,64,1,66,160,83,160.0,1.8,0.012,0

In [18]:
df.to_csv('../data/processed.csv',index=False)

In [19]:
corr=df.corr()
corr

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result_Encoded
Age,1.000000,-0.092874,-0.023440,0.017441,0.002614,-0.004193,0.018419,0.088800,0.238097
Gender,-0.092874,1.000000,-0.026781,0.011065,-0.009370,0.006668,0.017527,0.065793,0.094432
Heart rate,-0.023440,-0.026781,1.000000,0.010882,0.108353,-0.019584,-0.013001,0.011180,0.006920
Systolic blood pressure,0.017441,0.011065,0.010882,1.000000,0.586166,0.020807,-0.016396,0.043729,-0.020825
Diastolic blood pressure,0.002614,-0.009370,0.108353,0.586166,1.000000,-0.025614,-0.023403,0.043360,-0.009659
Blood sugar,-0.004193,0.006668,-0.019584,0.020807,-0.025614,1.000000,0.045757,0.021069,-0.033059
CK-MB,0.018419,0.017527,-0.013001,-0.016396,-0.023403,0.045757,1.000000,-0.016008,0.217720
Troponin,0.088800,0.065793,0.011180,0.043729,0.043360,0.021069,-0.016008,1.000000,0.229376
Result_Encoded,0.238097,0.094432,0.006920,-0.020825,-0.009659,-0.033059,0.217720,0.229376,1.000000

In [26]:
joblib.dump(le,'../models/encoders/label_encoder.pkl')

['../models/encoders/label_encoder.pkl']